/* Kod do wywalenia:
#header_content, #footer_content {
    color: #0a0a0c; #110e14;
}

#nav_menu, #footer_content {
    background-color: #494953; #49475e;
}

#header_content h1 {
    color: #fff;
}

#neonTextDaft {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #094a64, #7490a1,
    0 0 82px #094a64, #06738a,
    0 0 92px #094a64,
    0 0 102px #094a64,
    0 0 151px #094a64;
}

#neonTextPunk {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #b08f50, #ddbd02,
    0 0 82px #b08f50,
    0 0 92px #b08f50,
    0 0 102px #b08f50,
    0 0 151px #b08f50;
}

#baner_text:hover #neonTextDaft, #baner_text:hover #neonTextPunk {
    color: #333;
    cursor: pointer;
}

a {
    color: #0a0a0c;
}

#nav_menu li:hover a {
    color: #0a0a0c;
    background-color: #f0e1a6; #fdb171; #dfb171;
}

#nav_menu li:hover a:hover {
    color: #e08976; #ff0503;
    background-color: #f0e1a6;
}

#albums:hover li {
    border-top: 1px solid #0a0a0c;
}
    #nav_menu a:hover {
    color: #e08976;
    text-shadow: 0 0 3px #ca1f27, 0 0 3px #ca1f27, 0 0 3px #ca1f27, 0 0 3px #ca1f27; #532933;
}

#albums ul {
    background: #494953;
}

article > #author {
    background-color: #494953;
    color: #050608;
}

article > #socials {
    background-color: #0a0a0c;
    color: #494953;
}

#author_photo:hover {
    -webkit-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
    cursor: pointer;
}

.icon:hover {
    border: 1px solid #494953;
}

.icon-style {
    color: #494953;
}
*/

header h1 {
    text-align: center;
}

main #introdution #background {
    background-image: url(../images/background/homework-background-opacity-30.png);
    min-height: 545px;
}

main #introdution {
    position: relative;
}

main #introdution header {
    position: absolute;
    top: 40px;
    width: 100%;
}

main #introdution > p {
    position: absolute;
    top: 150px;
    padding: 0 50px;
    text-align: justify;
}

main header img {
    padding: 2px;
    border: 2px solid #fff;
}

#album_photo {
    width: 29%;
    display: inline-block;
}

.album_tracks {
    width: 49%;
    display: inline-block;
}

.album_audio {
    margin-top: 10px;
}
