@font-face {
    font-family: kabel;
    src:url(../fonts/kabel/kabel.woff);
}

@font-face {
    font-family: Kabel_Medium;
    src:url(../fonts/kabelmedium/KabelMedium.ttf);
}

 /*h1 i h2 są testowe!*/

/*h1 {
    font-family: kabel, sans-serif;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
}*/

/*Konkretny kod strony*/

body {
    background-color: #050608;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: kabel, sans-serif;
}

#main_site_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 32px;
}

#main_site_content p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

#main_site_content p > span {
    font-family: kabel;
}

#main_site_content #introdution {
    margin: 50px 0;
}

#header_content, #footer_content {
    width: 100%;
    color: #050608;
}

#nav_menu, #footer_content {
    background-color: #fff;
}

#nav_menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0; /*wyzerowany rozmiar czcionki, aby pozbyć się białej linii pod kontenerem - nie dało się jej inaczej usunąć pomimo zerowania marginesów*/
}

#nav_menu > ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 16px; /*domyślny rozmiar czcionki, nadany tutaj ponieważ wcześniej wyzerowano rozmiar czcionki*/
}

#nav_menu > ul > li {
    float: left;
    margin: 0 15px;
    line-height: 250%;
}

#nav_menu > ul > #albums:hover {
    min-width: 237px;
}

#nav_menu a {
    display: block;
    margin: 4px;
    padding: 4px;
}

#header_content h1 {
    margin: 0;
    color: #fff;
}

#footer_content p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

#baner {
    width: 1000px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 36px;
}

#baner img {
    margin-left: 5px;
    margin-right: 5px;
}

#baner h1 {
    font-family: Kabel_Medium;
    position: absolute;
    font-size: 36px;
    bottom: 10%;
    margin-left: 18%;
    margin-right: 18%;
}

#baner #baner_text {
    font-size: 64px;
    letter-spacing: 5px;
    margin-left: 15px;
    display: inline-block;
}

#neonTextDaft {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #094a64, /*#7490a1,*/
    0 0 82px #094a64, /*#06738a,*/
    0 0 92px #094a64,
    0 0 102px #094a64,
    0 0 151px #094a64;
}

#neonTextPunk {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #b08f50, /*#ddbd02,*/
    0 0 82px #b08f50,
    0 0 92px #b08f50,
    0 0 102px #b08f50,
    0 0 151px #b08f50;
}

#baner_text #neonTextDaft, #baner_text #neonTextPunk {
    transition: all 1s ease-in-out;
}

#baner_text:hover #neonTextDaft, #baner_text:hover #neonTextPunk {
    color: #333;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

#albums:hover ul {
    display: block;
}

#albums li {
    position: relative;
    padding: 0 0 2px 0;
}

#nav_menu li:hover {
    text-decoration: 2px underline;
    text-underline-offset: 0.25em;
}

#albums:hover li {
    border-top: 1px solid black;
}

#albums ul {
    position: absolute;
    background: #fff;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 0 0 5px 5px;
    line-height: 100%;
}

article > #author {
    background-color: #fff;
    color: #050608;
}

article > #socials {
    background-color: #050608;
    color: #fff;
}

article #about_author, article #social_links {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#author_info {
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#author_info p {
    margin: 0;
    text-align: justify;
}

#author_photo {
    width: 125px;
    height: 125px;
    border: 2px solid black;
    float: left;
}

#author_photo:hover {
    -webkit-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
    cursor: pointer;
}

#author_description h3 {
    margin: 0;
    margin-bottom: 20px;
}

#author_description {
    float: left;
    width: 74%;
    padding: 0 20px;
}

#icons {
    text-align: center;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 15px;
}

.icon:first-child {
    width: 40px;
    padding: 15px 11px;
}

.icon:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 14px;
}

.icon:hover:first-child {
    padding: 14px 10px;
}

.icon-style {
    color: #fff;
    font-size: 32px;
}

/* zmienić kod od tego miejsca */

/*
#thomas, #guy-manuel {
    opacity: 0.5;
    transition: all 1s ease-in-out;
}

#thomas:hover {
    opacity: 1.0;
    content: url(../images/thomas-1.jpg);
}

#guy-manuel:hover {
    opacity: 1.0;
    content: url(../images/guy-manuel-1.jpg);
}
*/
/*
#thomas_bangalter .image > #thomas, #guy-manuel_de_homem-christo .image > #guy-manuel {
    width: 240px;
    height: 328.4px;
    padding: 2px;
    border: 2px solid #fff;
}

#thomas_bangalter .image > .name, #guy-manuel_de_homem-christo .image > .name {
    font-size: 20px;
    text-align: center;
}
*/

.daft_punk_members figcaption {
    font-size: 19px;
    text-align: center;
    padding: 10px 0;
}

.daft_punk_members {
    width: 48%;
    display: inline-block;
}

.daft_punk_members .description > p {
    padding: 10px 0;
}

/* testowe rozwiązanie problemu z brakiem animacji zdjęć */
 .box {
    position: relative;
    width: 240px;
    height: 328.4px;
    margin-left: auto;
    margin-right: auto;
}

.box img {
    width: 240px;
    height: 328.4px;
    padding: 2px;
    border: 2px solid #fff;
    position: absolute;
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}

.box img:hover, .box img:hover {
    opacity: 0;
}

#main_site_content h1 {
    font-size: 2em;
    text-align: center;
}

#main_site_content h2 {
    font-size: 1.5em;
    text-align: center;
}

#logo {
    background-image: url(../images/daft_punk_image.svg);
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 150px;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
